<p id="notice"><%= notice %></p>

<h1>Listing Estimates</h1>



<table>
  <tbody>
    <% @estimates.each do |estimate| %>

      <tr>
        <td><%= image_tag estimate.avatar.url %></td>
        <td><div class = "estimate_index" >名前：<%= estimate.name %>
        <p>家賃：<%= estimate.fee %>万円</p>
        <p>間取り：<%= estimate.floortype %></p>
        <p>場所：<%= estimate.place %></p>
        <p>備考：<%= estimate.comment %></p>
        <p>空いてる部屋数：<%= estimate.vacants %></p>
        <%= link_to 'Show', estimate %>
           <%= link_to 'Edit', edit_estimate_path(estimate) %>
           <%= link_to 'Destroy', estimate, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% if current_user["type"] == "Person" %>
          <% if Favorite.find_by(estimate_id: estimate.id, person_id: current_user.id ) %>
            <%= link_to "UnFavo", favorite_path(estimate.id), method: :delete %>
          <% elsif %>
            <%= link_to "Favo", favorite_estimate_path(estimate.id), method: :post %>
            </td>
        </div>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estimate', new_estimate_path %>