<p id="notice"><%= notice %></p>

<h1>Listing Estimates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Fee</th>
      <th>Floortype</th>
      <th>Place</th>
      <th>Image</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estimates.each do |estimate| %>
      <tr>
        <td><%= estimate.name %></td>
        <td><%= estimate.fee %></td>
        <td><%= estimate.floortype %></td>
        <td><%= estimate.place %></td>
        <td><%= estimate.image %></td>
        <td><%= estimate.comment %></td>
        <td><%= link_to 'Show', estimate %></td>
        <td><%= link_to 'Edit', edit_estimate_path(estimate) %></td>
        <td><%= link_to 'Destroy', estimate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estimate', new_estimate_path %>
