<p id="notice"><%= notice %></p>
<% @realtor.each do |realtor| %>
  <%=link_to "不動産会社", contact_user_path(realtor.id) %>に連絡
<% end %>
<p>
  <%= image_tag @estimate.avatar.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @estimate.name %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @estimate.fee %>
</p>

<p>
  <strong>Vacants:</strong>
  <%= @estimate.vacants %>
</p>

<p>
  <strong>Floortype:</strong>
  <%= @estimate.floortype %>
</p>

<p>
  <strong>Place:</strong>
  <%= @estimate.place %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @estimate.comment %>
</p>

<% @users.each do |user| %>
   <%=link_to user.name, contact_user_path(user.id) %>と連絡
<% end %><br><br>

<%= link_to 'Edit', edit_estimate_path(@estimate) %> |
<%= link_to 'Back', estimates_path %><br><br><br>

<% if current_user["type"] == "Realtor" %>
  <%= form_tag dwelling_estimate_path(@estimate.id) , method: :post do %>
      <%= text_field_tag :q , params[:q], placeholder: "メールアドレスを入力", required: true %>
      <%= submit_tag "送信", name: nil , class: "btn btn-success", data: { disable_with: "検索中..."} %>
  <% end %>
<% end %>